.about {
    margin: 0 calc(3.5vw + 24px);
    z-index: 1;
    position: relative;
}

.movie {
    margin-top: 10px;

    &__title {
        margin-bottom: 24px;

    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }

        .content {
            letter-spacing: -.1px;
            line-height: 1.6;


            &__synopsis {
                padding-bottom: 36px;
            }
        }

        .data {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

.list-item {
    margin-bottom: 8px;
    letter-spacing: -.1px;
    line-height: 1.6;

    &--direction{
        margin-bottom: 16px;
    }
}