.background {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;

    &__img {
        width: 100%;
    }

    &__gradient {
        background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
        position: absolute;
        inset: 0px;
    }
}