@use 'variables';

@mixin elementSize($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin displayFlex($justify: center, $display: flex, $align: center ) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

.header {
    @include elementSize(72px);
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$bgColor;
    transition: all 0.2s ease-in-out 0s;
    z-index: 5;

    @media (max-width: 767px) {
        @include elementSize(52px);
    }

    &__container {
        @include elementSize();
        @include displayFlex(space-between);
        padding: 0 36px;

        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    &--is-transparent {
        background-color: transparent;
        transition: all 0.2s ease-in-out 0s;
    }

    &__title {
        transition: all 0.2s ease-in-out 0s;

        &--is-hidden {
            visibility: hidden;
            transition: all 0.2s ease-in-out 0s;
        }
    }

    .nav {
        @include displayFlex(flex-end);
        @include elementSize();

        &__list{
            height: 100%;
            display: flex;

            &__item{
                @include displayFlex();
                // display: flex;
                // align-items: center;

                &:first-child {
                    margin-right: 16px;
            
                    @media (max-width: 767px) {
                        margin-right: 0;
                    }
                }

                &--is-mobile{
                    @media (max-width: 767px) {
                        position: fixed;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        background: variables.$btSecondary;
                        height: 88px;
                        transition: transform 0.5s ease 0s;
                    }
                }
                
                &--is-hidden {
                    visibility: hidden;
                    transition: all 0.2s ease-in-out 0s;
                }
            }
        }
    }
}
