@use 'variables';

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 72px;
    z-index: 1;

    @media (max-width: 768px) {
        height: 52px;
    }
    
    &--is-visible{
        background-color: variables.$bgColor;
    }
    
    &__container{
        height: 100%;
        margin: 0 36px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    &__title{

        &--is-hidden{
            visibility: hidden;
        }

    }
}