.hero {
    margin: 0 calc(3.5vw + 24px) 67px;
    z-index: 1;
    position: relative;
    padding-top: 56px;

    &__movie {
        margin-bottom: 16px;

        @media (max-width: 767px) {
            height: 98px;
            display: flex;
            align-items: end;
        }

        &__logo {
            max-width: 341px;
            min-width: 100px;
            width: 35vw;
        }

    }

    &__information {
        display: flex;
        align-items: center;
    }

    &__genres {
        margin-top: 5px;
    }

    &__nav {
        height: 68px;
        margin: 32px 0 16px;

        &__list {
            display: flex;
            align-items: center;
            height: 100%;

            &__item {
                display: flex;
                align-items: center;
                height: 100%;
                
                &:first-child {
                    margin-right: 23px;
                }
            }
        }
    }

    &__synopsis {
        margin: 16px 0;
        max-width: 875px;
        line-height: 1.6;
        letter-spacing: -.1px;
    }
}