@use 'variables';
@use 'fonts';
@use 'header';
@use 'background';
@use 'hero';
@use 'about';
@use 'footer';

//Mixins
@mixin textConfig($size: 20px, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
}


//styles
* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
    color: variables.$colorPrimary;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.main {
    background-color: variables.$bgMain;
    padding-bottom: 150px;

    @media (max-width: 767px) {
        padding-bottom: 125px;
    }
}

.title--is-big {
    @include textConfig(24px, 700);

}

.title {
    @include textConfig(20px, 700);
}

.title__small {
    @include textConfig(15px);
    color: variables.$colorSecondary
}

.text--big {
    @include textConfig;

    @media (max-width: 767px) {
        // @include textConfig(15px);
    }
}

.text {
    @include textConfig(15px);
}

.text--small {
    @include textConfig(12px);
}

.logo {
    height: 48px;

    @media (max-width: 767px) {
        height: 38px;
    }

    &--is-visible {
        @media (max-width:767px) {
            visibility: visible;
            height: 38px;
        }
    }
}

.button {
    background: variables.$btPrimary;
    padding: 10px 16px;
    @include textConfig(15px);
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;

    @media (max-width: 767px) {
        padding: 10px 8px;
    }


    &:hover {
        background-color: variables.$btPrimaryHover;
    }

    &--is-mobile {
        @media (max-width: 767px) {
            margin: 0 auto;
            padding: 14px 24px;
        }
    }

    &--is-secondary {
        background: variables.$btSecondary;
        border: 1px solid variables.$colorPrimary;

        &:hover {
            background: variables.$colorPrimary;
            color: variables.$btSecondaryTextHover;
        }
    }

    &--hero {
        padding: 18px 24px;

        @media (max-width: 767px) {
            padding: 10px 24px;
        }
    }

    &--hero-hidden {
        @media (max-width: 767px) {
            display: none;
        }
    }

}

.small__img {
    height: 20px;
    margin-right: 4px;
}