@use 'variables';
@use 'fonts';
@use 'header';
@use 'background';
@use 'hero';
@use 'about';
@use 'footer';

//Mixins
@mixin textConfig($size: 20px, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
}


//styles
* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
    color: variables.$colorPrimary;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.main {
    background-color: variables.$bgMain;
    padding-bottom: 150px;
    
    @media (max-width: 767px){
        padding-bottom: 125px;
    }
}

.title {
    @include textConfig(24px, 700);

    &--section-about {
        color: variables.$colorSecondary;
        padding-bottom: 15px;
        border-bottom: 1.6px solid variables.$colorSecondary;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.title__small {
    @include textConfig(15px);
    color: variables.$colorSecondary
}

.text--big {
    @include textConfig;

    @media (max-width: 767px) {
        // @include textConfig(15px);
    }
}

.text {
    @include textConfig(15px);
}

.text--small {
    @include textConfig(12px);
}

.logo {
    height: 48px;

    @media (max-width: 767px){
        height: 38px;
    }
    &--is-hidden {
        visibility: hidden;
    }

    &--mobile {
        @media (max-width:767px) {
            visibility: visible;
            height: 38px;
        }
    }
}

.button {
    background: variables.$btPrimary;
    padding: 0 16px;
    height: 40px;
    @include textConfig(15px);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 0.2s ease;

    @media (max-width: 767px) {
        padding: 0 8px;
    }

    &:first-child {
        margin-right: 16px;

        @media (max-width: 767px) {
            margin-right: 0;
        }
    }

    &:hover {
        background-color: variables.$btPrimaryHover;
    }

    &--is-hidden {
        visibility: hidden;
    }

    &--secondary {
        background: variables.$btSecondary;
        border: 1px solid variables.$colorPrimary;

        &:hover {
            background: variables.$colorPrimary;
            color: variables.$btSecondaryTextHover;
        }
    }

    &--hero {
        height: 56px;
        padding: 0 24px;

        @media (max-width: 767px) {
            height: 40px;
        }
    }

    &--hero-hidden {
        @media (max-width: 767px) {
            display: none;
        }
    }

}

.small__img {
    height: 20px;
    margin-right: 4px;
}
